.buttons {
	height: 65px;
	width: 100px;
	margin: 15px 25px 15px 25px;
}
.top-buttons {
	width: 100%;
	text-align: center;
}
.middle-row {
	text-align: center;
	margin-bottom: 15px;
}
.bottom-row {
	text-align: center;
}